body {
	margin: 0;
	padding: 10px;
	font-family: helvetica, sans-serif;
	font-size: 13px;
	text-align: left;
	height: 100%;
	cursor: default;
	line-height: 1.5em;
    background-color: rgb(225, 250, 251);
}

#top_of_page {
    text-align: center;
}

#table_of_contents {
    text-align: left;
}

.main_content {
    margin: 5px 5%;
    padding: 5px 5%;
    background-color: rgb(211, 230, 251);
    border: 3px solid;
    border-color: rgb(0, 114, 145);
}

.sub_content {
    margin: 5px 5%;
    padding: 5px 5%;
    background-color: rgb(171, 209, 250);
    border: 3px solid rgb(0,0,0);
}

.picture {
    border: 1px solid rgb(0,0,0);
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.small_picture {
    border: 1px solid rgb(0,0,0);
    height: 30px;
    width: 30px;
}

.system_navigation {
    width: 75px;
    height: 75px;
}

ol {
    text-align: left;
}