/** Add css rules here for your application. */
body {
    margin: 0;
}


/*
    GWT style overrides
*/

/* Start button style override */
.parre-Button {
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;
    cursor: pointer;
    font-size: small;
    color: white;
    background: #0575B5;
    border: 1px solid #D3E6FB;
    border-radius: 10px;
    -moz-border-radius: 3px;
}

.parre-Button:active {
    border: 1px inset #6666ff;
}

.parre-Button[disabled] {
    cursor: default;
    color: #9999ff;
}

.parre-Button[disabled]:hover {
    border: 1px outset #0033ff;
}

.parre-Report-Button {
    margin: 0;    
    text-decoration: none;
    cursor: pointer;
    font-size: small;
    padding: 5px 7px;
    width: 75%;
    
    border: 1px solid #3b3be3;
    border-bottom: 1px solid #4a4aeb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    
}

.parre-Report-Button-indented {
	margin-left: 15px !important;	
	text-decoration: none;
	cursor: pointer;
    font-size: small;
    padding: 5px 7px;
    
    border: 1px solid #3b3be3;
    border-bottom: 1px solid #4a4aeb;
    border-radius: 3px;
    -moz-border-radius: 3px;
    
}

/* End button style override */

.mainContentPanel {
   background-color: #D3E6FB;
}
.parreBorder {
    background-color: black;
    color: #ffffff;
    font-style: italic;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    float: left;
}
.parreDefault {
    background-color: #5295f6;
    color: #ffffff;
    font-style: italic;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    float: left;
}

.headerLabel {
    float: left;
    text-align: center;
}

.centerStyle {
    text-align: center;
}

.whiteText {
    color: white;
}

.gwt-MenuBar {
    background-color: #b2caf4;
}

.gwt-MenuBar .gwt-MenuItem {
    background-color: #6699ee;
}

.blueBackground {
    background-color: #b2caf4;
}

.inputPanelHeader {
    background-color: #abd1fa;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

.inputPanelSubHeader {
    background-color: #abd1fa;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.inputPanel {
    width: 99.5% !important;
    padding: 5px;
    margin: auto;
    background-color: #d3e6fb;
    border: thin solid #489dfa;
    bottom: auto !important;
}

.inputPopupPanel {
    width: 99%;
    margin: 2px 2px 2px 2px;
    background-color: #f7f7ef;
    border: thin solid #ffe4c4;
}

.errorText {
    text-align: left;
    color: red;
    display: inherit;
}

.normalText {
    display: none;
}

.hiddenRow {
    display: none;
}

.text-center {
    text-align: center;
}
.text-normal {
    font-weight: lighter;
}

.toolTip {
    background-color: #add8e6;
    color: blue;
}

.buttonPanel {
    float: left;
    white-space: nowrap;
}

.navButton {
    border-style: outset;
    border-color: #a9a9a9;
    border-radius: 5px;
    padding: 2px;
    color: white;
    background-color: #0e3e96;
}

.navButtonSelected {
    border-style: outset;
    border-color: #a9a9a9;
    border-radius: 5px;
    padding: 2px;
    color: white;
    background-color: green;
}

.parreHeader {
    height:50px;
    width:100%;
    min-width: 1100px;
    padding-top:4px;
    padding-bottom:2px;
    padding-right:6px;
    background-color:#0575b5;
}

.headerLogoArea {
	float:left;
	margin-top:8px;
	margin-left:8px;
}

.headerLogo {
	font-family:arial;
	font-weight:bold;
	font-size:22px;
	color:white;
}

.wsCellTableEvenRow {
  background: #ffffff;
}


.wsCellTableOddRow {
  background: #f3f7fb;
}

.criticalValueCell {
    text-align: center;
    border: solid 1px red;
}

.normalValueCell {
}

.EnabledCell {
    background-color: red;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: orange;
    padding-top: 5px;
    padding-bottom: 5px;
}

.imageButton {
    background: #add8e6;
    border-width: 0px;
    border-radius: 25px;
    max-width: 50px;
}

.centerLayout {
    margin: 0 auto;
    width:100%;
    height: 100%;
}

.homeImagePanel {
	padding-top: 20px;
}

.normalLabel {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #d3e6fb;
}

.errorMsgLabel {
    font-size:12px;
    font-weight: bold;
    background-color: #d3e6fb;
}

.negativeLabel {
    background-color: #f49898;
}

.positiveLabel {
    background-color: #bbebbb;
}

.zeroLabel {
    background-color: #DBDB70;
}

.haveChanges {
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
}

#topNavDiv[style] {
    float: right !important;
    width: 25% !important;
}

.mainButtons {
    cursor: pointer;
}

.malevolentBorder {
    border: solid #489dfa;
    border-radius: 50px;
    -moz-border-radius: 50px;
}


.footerDiv {
   width: 100%;
   height: 22px;  
   position: fixed; 
   bottom: 0px; 
   left: 0px;
   color:white;
   text-align:center; 
   background-color:#0575b5;
   padding-top:4px;
}

.footerText {
	font-family: arial;
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.loginPageButton {
	width:150px;
	font-family:arial;
	font-size:11px;
}

.loginPageCenterPanel {
	font-family:arial;
	font-weight:bold;
	font-size:16px;
	width:100%;
	min-width:800px;
	text-align: center;
}

#userNameDiv {
	float: left;
	vertical-align:top;
	margin-top:10px;
	padding-right: 15px;
	color:white
}

#centerNavDiv {
	float:left;
	width:55%;
	margin-left: 100px;
	color:white;
	font-size:1.5em;
	font-weight:bolder;
	text-align:center;	
	margin-top: 4px;
}

.loginPageHeader {
	font-family:arial;
	font-weight:bold;
	font-size:16px;
}

.loginCenterPanel {
	margin-top: 30px auto;
}

#homeButtonContainer, #helpButtonContainer, #signOutContainer {
	margin-top: 1px;
	margin-right: 10px;
}

#homeButtonContainer img, #helpButtonContainer img, #signOutContainer img {
	border: 2px solid #FFF;
	border-radius: 10px;
}

.titleText {
	color: #808080;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}

.navRowHeader {
	color: #808080;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    max-width: 150px;
}

.mainNavigationArea {
	background: white;
	text-align: center;
}

.navSubHeader {
	background-color: #0575B5;
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}

#centerLabelContainer2 {
	margin-left: 15px;
}
